/* CSS Variables */
:root {
  --custom-lad-blue: #005a9c;
  --custom-lad-blue-rgb: 0, 90, 156;
  --custom-lad-red: #ef3e42;
  --custom-lad-red-rgb: 239, 62, 66;
  --custom-lad-silver: #a5acaf;
  --custom-lad-silver-rgb: 191, 192, 191;

  --custom-font-bebas: "Bebas Neue", sans-serif;
  --custom-font-dosis: "Dosis", sans-serif;
  --custom-font-josefin: "Josefin Sans", sans-serif;
  --custom-font-mooli: "Mooli", sans-serif;
  --custom-font-redhat: "Red Hat Display", sans-serif;
}

/* Font sizes */
body {
  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
}

/* Alternate background colors */
.bg-theme-primary {
  background-color: #005a9c; /* Legacy fallback */
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--custom-lad-blue-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

.bg-theme-light {
  background-color: #a5acaf; /* Legacy fallback */
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--custom-lad-silver-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

/* Navbar */
/* Main styling */
.navbar.sticky-top {
  background: linear-gradient(#f8f9fa, #f8f9faa7);
}

.nav-brand-name {
  padding-left: 0.5rem;
}

/* Right nav item styling */
#navbarNav {
  > .navbar-nav {
    justify-content: space-between;
    @media (min-width: 768px) {
      justify-content: end;
    }
  }
}

/* Link hover effect */
.nav-item {
  .nav-link:hover {
    border-radius: 10%;
    color: #005a9c;
    color: var(--custom-lad-blue);
  }
}

/* Portfolio sections */
/* Headline */
/* .portfolio-headline {
} */

/* Greeting */
.portfolio-greeting {
  /* Greeting transition */
  > .greeting {
    background: linear-gradient(#0000, #005a9c);
    text-align: center;
    > h4 {
      font-weight: 600;
    }
  }

  /* Greeting body */
  .container > h5 {
    line-height: 1.4;
    font-weight: 500;
  }
}

/* Skills */
.portfolio-skills {
  background: linear-gradient(#005a9c, #0000);
  > .container {
    height: 20rem;
    --bs-gutter-x: 0;
    border-radius: 1rem;
    > .container {
      border-bottom: 1px solid #000000;
    }
    > .flex-row {
      .container {
        border-right: 1px solid #000000;
        > span {
          font-size: 2rem;
        }
      }
      .container:last-child {
        border-right: none;
      }
    }
  }
}

/* Projects */

.portfolio-projects {
  .project-card {
    width: 21rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    > .project-link {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .project-image {
      max-height: 238px;
      object-position: top;
    }
  }

  .project-description {
    height: 4rem;
  }
}

/* Borders */
/* Light green */
.border-theme-primary {
  --bs-border-opacity: 1;
  border-color: rgba(
    var(--custom-lad-blue-rgb),
    var(--bs-border-opacity)
  ) !important;
}

/* Text Colors */
/* Dodger Blue */
.text-theme-primary {
  color: #005a9c; /* Legacy fallback */
  color: var(--custom-lad-blue);
}

/* Dodger Red */
.text-theme-secondary {
  color: #ef3e42; /* Legacy fallback */
  color: var(--custom-lad-red);
}

/* Dodger Silver */
.text-theme-light {
  color: #a5acaf; /* Legacy fallback */
  color: var(--custom-lad-silver);
}

/* Fonts */
/* Font - Bebas Neue */
.font-bebas {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-bebas);
}

/* Font - Dosis */
.font-dosis {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-dosis);
}
.font-dosis-semibold {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-dosis);
  font-weight: 600;
}
.font-dosis-bold {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-dosis);
  font-weight: 700;
}

/* Font - Josefin Sans */
.font-josefin {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-josefin);
}

/* Font - Mooli */
.font-mooli {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-mooli);
}

/* Font - Red Hat Display */
.font-red-hat-display-light {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-redhat);
  font-weight: 300;
}
a, /* Default for a tags */
p, /* Default for p tags */
h3, /* Default for h3 tags */
h4, /* Default for h4 tags */
h5, /* Default for h5 tags */
h6, /* Default for h6 tags */
.font-red-hat-display {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-redhat);
  font-weight: 400;
}
h2, /* Default for h2 tags */
.font-red-hat-display-medium {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-redhat);
  font-weight: 500;
}
h1, /* Default for h1 tags */
.font-red-hat-display-semibold {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-redhat);
  font-weight: 600;
}
.nav-link, /* Default for navbar links */
.font-red-hat-display-bold {
  font-family: sans-serif; /* Legacy fallback */
  font-family: var(--custom-font-redhat);
  font-weight: 700;
}
