{% extends 'base.html' %}

{% load static %}

{% block title %}Portfolio{% endblock %}

{% block nav_home %}active{% endblock %}

{% block content %}
<!-- Headline section -->
<div class="portfolio-headline pt-5 my-5">
  <div class="container">
    <div class="section-headline d-flex flex-col justify-content-center align-items-end">
      <div class="text-center">
        <h1>Building software is my <b class="text-theme-primary font-mooli">passion</b>.</h1>
        <h3><b class="text-theme-secondary font-mooli">Empathy</b> and <b
            class="text-theme-light font-mooli">authenticity</b>
          are
          my core values.
        </h3>
        <br>
        <img class="border border-5 border-theme-primary rounded-circle shadow-lg"
          src="{% static 'portfolio/avatar.jpg' %}" alt="Avatar Image" width="300" height="300">
      </div>
    </div>
  </div>
</div>

<!-- Greeting section -->
<div class="portfolio-greeting text-white pt-5">
  <div class="section-transition-in position-relative">
    <h4 class="w-75 font-mooli text-center position-absolute bottom-0 start-50 translate-middle-x mb-0">
      Hello, I'm Nathan. It's a pleasure to meet you.
    </h4>
  </div>
  <div class="bg-theme-primary">
    <div class="container text-center">
      <h5 class="lh-base my-0 pt-3 pb-5">
        I've spent the past 10 years working with both legacy and modern technologies,
        from COBOL compiler optimization to client-side tracking in React. I thrive in
        fast-paced environments where collaboration is key, but I'm autonomous enough to
        push forward and meet deadlines, even under immense pressure. I know that what
        makes a great engineer is a hunger for challenging oneself and motivation to keep
        learning in an ever-changing landscape. I pride myself on my positive attitude,
        humility, and respect for others.
      </h5>
    </div>
  </div>
</div>

<!-- Skills section -->
<div class="portfolio-skills section-transition-out mt-0 mb-5 pt-3 pb-4">
  <div class="container h-100 w-100 d-flex flex-column bg-light border shadow-lg justify-content-center">
    <div class="container text-center px-4 pt-4 pb-3 w-100">
      <h3 class="font-dosis-bold fs-2">Full Stack</h3>
    </div>
    <div class="d-flex flex-row">
      <div class="container h-100 text-center py-4 pl-4">
        <div class="container px-4">
          <span class="fs-1 material-symbols-outlined bg-theme-primary text-white rounded-circle mb-3 p-3">
            lan
          </span>
          <h4 class="font-dosis-bold fs-3">Backend</h4>
          <h6 class="lh-sm">
            I really enjoy building things from the ground up, so I'm no stranger to getting my hands dirty and getting
            things working.
          </h6>
          <h6 class="pt-4 text-theme-primary">
            <b>I like building:</b>
          </h6>
          <p class="lh-base">
            REST APIs, Scalable Microservices, Efficient Data Pipelines
          </p>
          <h6 class="pt-3 text-theme-primary">
            <b>I've worked with:</b>
          </h6>
          <p class="lh-base">
            Python, Django, Flask
            <br>
            NodeJS/Express
            <br>
            PostgreSQL, MongoDB
            <br>
            PyTest, Unit Testing, TDD
            <br>
            AWS, Docker, Kubernetes
          </p>
        </div>
      </div>
      <div class="container h-100 text-center py-4 pr-4">
        <div class="container px-4">
          <span class="fs-1 material-symbols-outlined bg-theme-primary text-white rounded-circle mb-3 p-3">
            devices
          </span>
          <h4 class="font-dosis-bold fs-3">Frontend</h4>
          <h6 class="lh-sm">
            On the other hand, creating visually-stunning and nicely polished user interfaces exercises a part of my
            brain
            that I really enjoy using.
          </h6>
          <h6 class="pt-4 text-theme-primary">
            <b>I like building:</b>
          </h6>
          <p class="lh-base">
            Clean Mobile-First UX, Dynamic UI,
            <br>
            Well-Managed React State/Context
          </p>
          <h6 class="pt-3 text-theme-primary">
            <b>I've worked with:</b>
          </h6>
          <p class="lh-base">
            React, Redux
            <br>
            JavaScript, TypeScript, jQuery
            <br>
            TailwindCSS, Bootstrap, Jinja Templates
            <br>
            Figma, GraphQL, LaunchDarkly
            <br>
            E2E Testing, Cypress, Playwright
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Projects section -->
<div class="portfolio-projects bg-light py-3">
  <div class="container-fluid d-flex flex-column align-items-center mb-0">
    <h2 class="font-dosis-bold fs-1">Things I've built</h2>
    <hr class="my-0" width="30%" size="3px">

    <div class="row w-100 px-2 d-flex flex-row flex-wrap justify-content-center">
      {% for project in projects %}
      <div
        class="col-md-2 mx-4 my-4 project-card zoom position-relative d-flex flex-column text-center align-items-center border bg-light rounded-3 shadow-lg">
        <h2 class="font-dosis-semibold fs-2 pb-3">{{ project.title }}</h2>
        <img class="project-image rounded-3 object-fit-cover object-position-top mb-3" src="{{ project.image.url }}"
          alt="{{project.title}} image" width="300">
        <h6 class="project-description px-2">{{ project.description }}</h6>
        {% if project.github_url %}
        <a class="project-github-link" href="{{ project.github_url }}" target="_blank">
          <span class="material-symbols-outlined border btn text-theme-light shadow-md mb-3 p-2">
            code
          </span>
        </a>
        {% endif %}
        {% if project.url %}
        <a class="project-link" href="{{ project.url }}" target="_blank">
          <span class="material-symbols-outlined border btn text-theme-light shadow-md mb-3 p-2">
            open_in_new
          </span>
        </a>
        {% endif %}

        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Launch demo modal
            </button>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> -->
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}